body {
  background-color: #2d2a2e;
  margin: 0;
}

#add-section {
  border-radius: 60px;
  position: absolute;
  padding: 20px;
  right: 20px;
  top: 80px;
  margin: 8px;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  /* display: block; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* z-index: 1; */
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 130px;
  align-items: flex-start;
  gap: 2em;
  margin: 20px;
  margin-bottom: 50px;
}

.section-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  /* margin-right: 20px; */
  /* margin: 0 20px 20px 0; */
  width: 20%;
  flex-grow: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
/* 
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
} */
