<div id="addBookPopup" class="popup">
  <div class="popup-content">
    <h1>Add Books</h1>
    <div>
      <h4>Book Title :</h4>
      <input type="text" placeholder="Book Name" />
    </div>
    <div>
      <h4>Author :</h4>
      <input type="text" placeholder="Author Name" />
    </div>
    <div>
      <h4>Content :</h4>
      <input type="text" placeholder="Link" />
    </div>
    <div>
      <h4>Book Section :</h4>
      <p id="current-section">History Seciton 1</p>
    </div>
    <div class="buttons">
      <button class="btn btn-outline-primary">save</button>
      <button class="btn btn-primary" id="closeBookPopup">Close</button>
    </div>
  </div>
</div>
