<form
  id="addBookPopup{{ sec.SectionId }}"
  class="popup"
  action="/add-section/test"
  method="POST"
>
  <div class="popup-content">
    <h1>Add Books</h1>
    <div>
      <h4>Book Title :</h4>
      <input type="text" name="Book-Title" placeholder="Book Name" />
    </div>
    <div>
      <h4>Author :</h4>
      <input type="text" name="Author" placeholder="Author Name" />
    </div>
    <div>
      <h4>Content :</h4>
      <input type="text" name="Content" placeholder="Link" />
    </div>
    <div>
      <h4>Book Section :</h4>
      <input
        type="hidden"
        name="book_section"
        value="{{ sec.Title }} Section"
      />
      <p id="current-section">{{ sec.Title }} Section</p>
    </div>
    <div class="buttons">
      <button class="btn btn-outline-primary" type="submit">save</button>
      <button class="btn btn-primary" id="closeBookPopup{{ sec.SectionId }}">
        Close
      </button>
    </div>
  </div>
</form>
