<div id="editBooksPopup{{book.BookId}}" class="popup">
  <div class="popup-content">
    <h1>Add Books</h1>
    <div>
      <h4>Book Title :</h4>
      <input type="text" placeholder="{{book.Title}}" />
    </div>
    <div>
      <h4>Author :</h4>
      <input type="text" placeholder="{{book.Author}}" />
    </div>
    <div>
      <h4>Content :</h4>
      <input type="text" placeholder="Link" />
    </div>
    <div>
      <h4>Book Section :</h4>
      <p id="current-section">{{book.SectionId}} History Seciton 1</p>
    </div>
    <div class="buttons">
      <button class="btn btn-outline-primary">save</button>
      <button class="btn btn-primary" id="closeEditBooksPopup{{book.BookId}}">
        Close
      </button>
    </div>
  </div>
</div>
