<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src="/static/logo.jpg" alt="Logo" />
    <div class="container">
      <h2>User Login</h2>
      <div class="username">
        <p>Username</p>
        <input type="text" placeholder="Username" />
      </div>
      <div>
        <p>Password</p>
        <input type="password" placeholder="password" />
      </div>
      <a href="/user-login/login">
        <button>Login</button>
      </a>
      <a href="/user-login/sign-up">
        <button>Sign Up</button>
      </a>
    </div>
  </body>
</html>
